<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMatch | Reset Password</title>
    <style>

        * {
            margin: 0;
            padding: 0;
            font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
            color: #FAFAFA;
        }

        ::-webkit-scrollbar {
            display: none;
        }

        body {
            background-color: #156064;
        }

        h1 {
            width:100%;
            font-size: 1.7rem;
            border-top: 2px solid rgba(158, 120, 143, 0.9);
            border-bottom: 2px solid rgba(158, 120, 143, 0.9);
            margin-bottom: 20px;
        }

        p {
            font-size: 1.1rem;
            /* width: 100%; */
            word-break: break-all;
        }

        a.button {
            margin: 15px 0;
            text-transform: uppercase;
            font-size: 1.2rem;
            text-decoration: none;
            opacity: 0.8;
            background-color: rgba(250, 250, 250, 0.1);
            border: 1px solid;
        }

        a.button:hover {
            opacity: 1;
            background-color: rgba(250, 250, 250, 0.2);
        }

        #container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 7%;
        }

        #container > * {
            padding: 15px;
            text-align: center;
            height: 100%;
        }

        .warning {
            font-size: 0.8rem;
            font-style: italic;
            opacity: 0.9;
            width: 100%;
            border-top: 2px solid rgba(158, 120, 143, 0.7);
            margin-top: 40px;
        }

    </style>
</head>
<body>
  <div id="container">
    <h1>You requested to reset your password to MovieMatch</h1>
    <p>To reset the password, click on the link below:</p>
    <a target="_blank" href="<%=process.env.FRONT%>/users/resetpassword/<%= token %>" class="button">Reset password</a>
    <p>... or copy the link below to your browser:</p>
    <p><%=process.env.FRONT%>/users/resetpassword/<%= token %></p>
    <p class="warning">If you didn't want to reset your password or have never registered to MovieMatch, please, ignore this message.</p>
  </div>
</body>
</html>